{% extends 'base.html' %}
{% block title %}بازیابی کلمه عبور{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-5 py-5">
            <div class="card bg-light border-secondary p-5 py-5">
                <h5 class="mb-3">بازیابی کلمه عبور</h5>
                <form method="post" action="forgot_password.html">{% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">{{ reset_pass_form.password.label_tag }}</label>
                        {{ reset_pass_form.password }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">{{ reset_pass_form.confirm_password.label_tag }}</label>
                        {{ reset_pass_form.confirm_password }}
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <button class="btn btn-primary">بازیابی</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
