{% extends 'base.html' %}
{% block title %}ثبت‌نام{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-light border-secondary p-4">
                <h5 class="mb-3">ثبت‌نام</h5>
                <form method="post">{% csrf_token %}

                    <div class="mb-2 ">
                        <label class="form-label">ایمیل</label>
                        {{ register_form.email }}
                    </div>
                    <div class="mb-2">
                        <label class="form-label">نام و نام خانوادگی</label>
                        {{ register_form.username }}
                    </div>
                    <div class="mb-2">
                        <label class="form-label">رمز عبور</label>
                        {{ register_form.password }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">تکرار رمز عبور</label>
                        {{ register_form.confirm_password }}
                    </div>
                    <button class="btn btn-primary">ثبت‌نام</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
